*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 23px 0;
    background: lightgrey;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: lightgrey;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(167, 86, 100);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:white;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color:white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color:white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color: rgb(167, 86, 100);
}
.navbar.sticky .menu li a:hover{
  color: rgb(167, 86, 100);
}
/*menu btn styling*/

.menu-btn{
  color: rgb(167, 86, 100);
  font-size: 23px;
  cursor: pointer;
  display: none;
 
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(167, 86, 100);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}


/*Portfolio section*/
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
    padding: 100px;
  }

  /*h1 {
    font-size: 50px;
    word-break: break-all;
    padding: 500px;
    color: rgb(167, 86, 100);
    
  }*/
  h2 {
    margin: top;
    padding: 10px;
    font-size: 30px;
    word-break: break-all;
    color: rgb(167, 86, 100);
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    font-size: 10px;
    
    
  }
  .column .content a{
    display: inline-block;
    background: rgb(167, 86, 100);
    color:white;
    font-size: 10px;
    padding: 1px 1px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(167, 86, 100);
    transition: all 0.3s ease;
}
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  .content a{
    display: inline-block;
    background: rgb(167, 86, 100);
    color:white;
    font-size: 10px;
    padding: 1px 1px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(167, 86, 100);
    transition: all 0.3s ease;
  }
  .content img{
    border-radius: 12px;
    border-color: grey;
  }
  .img{
    border-radius: 6px;
  }
  /* footer section styling */
footer{
  background: rgb(167, 86, 100);
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: grey;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}

 
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  /* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width{
      margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid crimson!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background: crimson!important;
}

@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2{
      font-size: 60px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
  .services .serv-content .card{
      width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text{
      font-size: 19px;
  }
  .contact .right form .fields{
      flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
      margin: 0;
  }
  .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
}